{% extends "africa/base.html" %}
{% load static %}
{% load tz %}

{% block content %}
    <div class="mobile">
        <h2 class="small-header mobile">{{ date|date:"D, d F" }}</h2>
    </div>
    <div class="desktop">
        <h2 class="small-header">{{ date|date:"l, d F Y" }}</h2>
    </div>

    {% include "africa/snippets/date_nav.html" %}

    {% if match_list %}
        <div class="row">
            <div class="col-12">

                <label for="select-match" class="select2-el-label">
                    <select id="select-match" class="select2-el">
                    </select>
                </label>

                <ul class="list-group">
                    {% for match in match_list %}
                        {% include 'africa/matches/partials/match_list_item.html' with match=match %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <p>No matches found.</p>
    {% endif %}

{% endblock content %}
{% block customjs %}
    <script>
        $(document).ready(function () {
            $('#select-match').select2({
                ajax: {
                    url: '/api/matches/',
                    data: function (params) {
                        return {
                            date: new URLSearchParams(window.location.search).get('date') ?? null,
                            filter: params.term,
                            format: 'json'
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.results
                        };
                    },
                },
                placeholder: 'Search for a match...',
                minimumInputLength: 1,
                templateResult: formatMatch
            }).focus(function () {
                $(".select2-search__field").focus();
            }).blur(function () {
                setTimeout(function () {
                    $(".select2-search__field").focus();
                }, 20);
            });

            $('#datepicker').datetimepicker({
                format: 'L',
                defaultDate: "{{ date|date:"Y-m-d" }}",
            }).on('dp.change', function (e) {
                window.location.href = "history?date=" + e.date.format("YYYY-MM-DD");
            });

        });

        function formatMatch(match) {

            if (match.loading) {
                return match.text;
            }

            return $(
                `<div class="mobile">` +
                `    <a class="list-group-item list-group-item-action list-group-flex"` +
                `        href="/${match.slug}">` +
                `        <div class="list-hour-mobile">` +
                `            <span>` +
                `                ${formatDateToHourString(match.datetime)}` +
                `            </span>` +
                `        </div>` +
                `        <div class="list-match-result">` +
                (match.home_team.logo_file ?
                        `                <img src="${match.home_team.logo_file}" alt="${match.home_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">` :
                        `                <img src="{% static "img/badge_placeholder.png" %}"` +
                        `                        alt="${match.home_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">`
                ) +
                `            &nbsp;<span` +
                `                class="list-score">${match.home_team_score ?? "-"}</span>` +
                `            <b>${match.home_team.name} </b>` +
                `            <br>` +
                (match.away_team.logo_file ?
                        `                <img src="${match.away_team.logo_file}" alt="${match.away_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">` :
                        `                <img src="{% static "img/badge_placeholder.png" %}"` +
                        `                        alt="${match.away_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">`
                ) +
                `            &nbsp;<span` +
                `                class="list-score">${match.away_team_score ?? "-"}</span>` +
                `            <b>${match.away_team.name} </b>` +
                `            <br>` +
                `        </div>` +
                `    </a>` +
                `</div>` +
                `<div class="desktop">` +
                `    <a class="list-group-item list-group-item-action"` +
                `        href="/${match.slug}">` +
                `        <div class="list-hour-desktop">` +
                `            <span>` +
                `                ${formatDateToHourString(match.datetime)}` +
                `            </span>` +
                `        </div>` +
                `        <div class="list-match-result">` +
                (match.home_team.logo_file ?
                        `                <img src="${match.home_team.logo_file}" alt="${match.home_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">` :
                        `                <img src="{% static "img/badge_placeholder.png" %}"` +
                        `                        alt="${match.home_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">`
                ) +
                `            <b>${match.home_team.name} </b>` +
                `            <span class="list-score-desktop">${match.home_team_score ?? "-"}</span>:<span` +
                `                class="list-score-desktop">${match.away_team_score ?? "-"}</span>` +
                `            <b>${match.away_team.name}</b>` +
                (match.away_team.logo_file ?
                        `                <img src="${match.away_team.logo_file}" alt="${match.away_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">` :
                        `                <img src="{% static "img/badge_placeholder.png" %}"` +
                        `                        alt="${match.away_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">`
                ) +
                `        </div>` +
                `    </a>` +
                `</div>`);
        }

        function formatDateToHourString(date) {
            let dateObj = moment(date);
            return dateObj.format("HH:mm")
        }

    </script>
{% endblock customjs %}