{% extends "africa/base.html" %}
{% load static %}
{% load tz %}

{% block content %}
    <div class="mobile affiliated">
        Affiliated with <a href="https://goals.zone"><img src="https://goals.zone/static/goals_zone/original_icon_w200.png" width="25"/>
        goals.zone</a>
    </div>
    <label for="select-match" class="select2-el-label" style="margin-bottom: 0; margin-top: 20px">
        <select id="select-match" class="select2-el">
        </select>
    </label>
    <ul class="list-group infinite-container">
        {% for match in match_list %}
            <div class="infinite-item">
                {% ifchanged match.datetime|date:"Ymd" %}
                    <div data-date="{{ match.datetime|date:"Ymd" }}" style="margin-top: 40px; margin-bottom: 20px">
                        <div class="mobile">
                            <h2 class="small-header mobile">{{ match.datetime|date:"D, d F" }}</h2>
                        </div>
                        <div class="desktop">
                            <h2 class="small-header">{{ match.datetime|date:"l, d F Y" }}</h2>
                        </div>
                    </div>
                {% endifchanged %}
                {% include 'matches/partials/match_list_item.html' with match=match %}
            </div>
        {% endfor %}
    </ul>
    <div class="loading" style="margin: 0 auto; width: 75px">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}" style="display: none">More</a>
    {% endif %}
{% endblock content %}
{% block customjs %}
    <script>
        const infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
                $.each($items, (i, v) => {
                    if ($(v).find('[data-date]').length > 0) {
                        if ($("div").find(`[data-date='${$($(v).find('[data-date]')[0]).attr('data-date')}']`).length > 1) {
                            $(v).find('[data-date]').remove();
                            console.log($(v))
                        }
                    }
                });
            }
        });


        $(document).ready(function () {
            $('#select-match').select2({
                ajax: {
                    url: '/api/matches-week/',
                    data: function (params) {
                        return {
                            filter: params.term,
                            format: 'json'
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data.results
                        };
                    },
                },
                placeholder: 'Search for a match from the last week...',
                minimumInputLength: 1,
                templateResult: formatMatch
            }).focus(function () {
                $(".select2-search__field").focus();
            }).blur(function () {
                setTimeout(function () {
                    $(".select2-search__field").focus();
                }, 20);
            });

        });

        function formatMatch(match) {

            if (match.loading) {
                return match.text;
            }

            return $(
                `<div class="mobile">` +
                `    <a class="list-group-item list-group-item-action list-group-flex"` +
                `        href="/${match.slug}">` +
                `        <div class="list-hour-mobile">` +
                `            <span>` +
                `                ${formatDateToHourString(match.datetime)}` +
                `            </span>` +
                `        </div>` +
                `        <div class="list-match-result">` +
                (match.home_team.logo_file ?
                        `                <img src="${match.home_team.logo_file}" alt="${match.home_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">` :
                        `                <img src="{% static "img/badge_placeholder.png" %}"` +
                        `                        alt="${match.home_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">`
                ) +
                `            &nbsp;<span` +
                `                class="list-score">${match.home_team_score ?? "-"}</span>` +
                `            <b>${match.home_team.name} </b>` +
                `            <br>` +
                (match.away_team.logo_file ?
                        `                <img src="${match.away_team.logo_file}" alt="${match.away_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">` :
                        `                <img src="{% static "img/badge_placeholder.png" %}"` +
                        `                        alt="${match.away_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">`
                ) +
                `            &nbsp;<span` +
                `                class="list-score">${match.away_team_score ?? "-"}</span>` +
                `            <b>${match.away_team.name} </b>` +
                `            <br>` +
                `        </div>` +
                `    </a>` +
                `</div>` +
                `<div class="desktop">` +
                `    <a class="list-group-item list-group-item-action"` +
                `        href="/${match.slug}">` +
                `        <div class="list-hour-desktop">` +
                `            <span>` +
                `                ${formatDateToHourString(match.datetime)}` +
                `            </span>` +
                `        </div>` +
                `        <div class="list-match-result">` +
                (match.home_team.logo_file ?
                        `                <img src="${match.home_team.logo_file}" alt="${match.home_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">` :
                        `                <img src="{% static "img/badge_placeholder.png" %}"` +
                        `                        alt="${match.home_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">`
                ) +
                `            <b>${match.home_team.name} </b>` +
                `            <span class="list-score-desktop">${match.home_team_score ?? "-"}</span>:<span` +
                `                class="list-score-desktop">${match.away_team_score ?? "-"}</span>` +
                `            <b>${match.away_team.name}</b>` +
                (match.away_team.logo_file ?
                        `                <img src="${match.away_team.logo_file}" alt="${match.away_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">` :
                        `                <img src="{% static "img/badge_placeholder.png" %}"` +
                        `                        alt="${match.away_team.name}"` +
                        `                        class="img-fluid detail-img-thumb">`
                ) +
                `        </div>` +
                `    </a>` +
                `</div>`);
        }

        function formatDateToHourString(date) {
            let dateObj = moment(date);
            return dateObj.format("HH:mm")
        }

    </script>
{% endblock customjs %}