{% extends "africa/base.html" %}
{% load static %}

{% block head_title %}{{ object.name }} ||
    {{ block.super }}{% endblock head_title %}

{% block content %}
    <div class="mobile">
        <h3 class="small-header mobile">
            {% if team.logo_file %}
                <img src="{{ team.logo_file.url }}" alt="{{ team.name }}"
                     class="img-fluid detail-img-thumb-large" width="50" height="50">
            {% else %}
                <img src="{% static "img/badge_placeholder.png" %}" alt="{{ team.name }}"
                     class="img-fluid detail-img-thumb-large" width="50" height="50">
            {% endif %}&nbsp; {{ object }}
            <br>
        </h3>
    </div>
    <div class="desktop">
        <h3 class="small-header">
			<span style="white-space: nowrap">
                {% if team.logo_file %}
                    <img src="{{ team.logo_file.url }}" alt="{{ team.name }}"
                         class="img-fluid detail-img-thumb-large" width="50" height="50">
                {% else %}
                    <img src="{% static "img/badge_placeholder.png" %}" alt="{{ team.name }}"
                         class="img-fluid detail-img-thumb-large" width="50" height="50">
                {% endif %}&nbsp;
                <b>{{ team.name }} </b>
			</span>
        </h3>
    </div>

    {% if page_obj.object_list %}
        <div class="row">
            <div class="col-12">
                <ul class="list-group small-margin-bottom">
                    {% for match in page_obj.object_list %}
                        <div class="mobile">
                            <a class="list-group-item list-group-item-action list-group-flex"
                               href="{% url 'match-detail' slug=match.slug %}">
                                <div class="list-hour-mobile">
                                    <span style="white-space: nowrap">
                                        {{ match.datetime|date:"d-m" }}
                                    </span>
                                </div>
                                <div class="list-match-result">
                                    {% if match.home_team.logo_file %}
                                        <img src="{{ match.home_team.logo_file.url }}" alt="{{ match.home_team.name }}"
                                             class="img-fluid detail-img-thumb" width="30" height="30">
                                    {% else %}
                                        <img src="{% static "img/badge_placeholder.png" %}"
                                             alt="{{ match.home_team.name }}"
                                             class="img-fluid detail-img-thumb" width="30" height="30">
                                    {% endif %}&nbsp;<span
                                        class="list-score">{{ match.home_team_score|default_if_none:"-" }}</span>
                                    <b>{{ match.home_team.name }} </b>
                                    <br>
                                    {% if match.away_team.logo_file %}
                                        <img src="{{ match.away_team.logo_file.url }}" alt="{{ match.away_team.name }}"
                                             class="img-fluid detail-img-thumb" width="30" height="30">
                                    {% else %}
                                        <img src="{% static "img/badge_placeholder.png" %}"
                                             alt="{{ match.home_team.name }}"
                                             class="img-fluid detail-img-thumb" width="30" height="30">
                                    {% endif %}&nbsp;<span
                                        class="list-score">{{ match.away_team_score|default_if_none:"-" }}</span>
                                    <b>{{ match.away_team.name }} </b>
                                    <br>
                                </div>
                            </a>
                        </div>
                        <div class="desktop">
                            <a class="list-group-item list-group-item-action"
                               href="{% url 'match-detail' slug=match.slug %}">
                                <div class="list-hour-desktop">
                                    <span style="font-weight: bold">
                                        {{ match.datetime|date:"d-m-Y" }}
                                    </span>
                                    <span style="font-weight: lighter; color: #8c8c8c">
                                        &nbsp;{{ match.datetime|date:"H:i" }}
                                    </span>
                                </div>
                                <div class="list-match-result">
                                    {% if match.home_team.logo_file %}
                                        <img src="{{ match.home_team.logo_file.url }}" alt="{{ match.home_team.name }}"
                                             class="img-fluid list-img-thumb"/>
                                    {% else %}
                                        <img src="{% static "img/badge_placeholder.png" %}"
                                             alt="{{ match.home_team.name }}"
                                             class="img-fluid list-img-thumb"/>
                                    {% endif %}
                                    <b>{{ match.home_team.name }} </b>
                                    <span class="list-score-desktop">{{ match.home_team_score|default_if_none:"-" }}</span>:<span
                                        class="list-score-desktop">{{ match.away_team_score|default_if_none:"-" }}</span>
                                    <b> {{ match.away_team.name }}</b>
                                    {% if match.away_team.logo_file %}
                                        <img src="{{ match.away_team.logo_file.url }}" alt="{{ match.away_team.name }}"
                                             class="img-fluid list-img-thumb"/>
                                    {% else %}
                                        <img src="{% static "img/badge_placeholder.png" %}"
                                             alt="{{ match.home_team.name }}"
                                             class="img-fluid list-img-thumb"/>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include "africa/snippets/page_nav.html" %}
    {% else %}
        <p>No matches found.</p>
    {% endif %}
{% endblock content %}