{% extends "base.html" %}
{% load static %}

{% block head_title %}{{ object }} || {{ block.super }}{% endblock head_title %}

{% block content %}
    <h2>
        {% if match.home_team.logo %}
            <img src="{{ match.home_team.logo }}" alt="{{ match.home_team.name }}" class="img-fluid detail-img-thumb"/>
        {% endif %}
        {{ object }}
        {% if match.away_team.logo %}
            <img src="{{ match.away_team.logo }}" alt="{{ match.away_team.name }}" class="img-fluid detail-img-thumb"/>
        {% endif %}
        <br/>
        <small>&nbsp;on {{ match.datetime|date:"l, d F Y \a\t H:i" }}</small>
    </h2>

    {% if object.videogoal_set.all.count > 0 %}
        <ul class="list-group">
            {% for goal in object.videogoal_set.all|dictsort:"minute_int" %}
                <div class="list-group-item no-padding list-group-item-action">
                    <a class="list-group-item-left-link" style="" href="{{ goal.url }}">
                        {{ goal.title }}
                    </a>
                    {% if goal.permalink %}
                        <a href="http://reddit.com{{ goal.permalink }}" class="float-right list-group-small-link">
                            <img src="{% static "img/reddit_logo.png" %}" class="list-group-img">
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No goals for this match.</p>
    {% endif %}
{% endblock content %}