{% extends "base.html" %}

{% block content %}
    <h2>{{ date|date:"l, d F Y" }}</h2>

    {% include "snippets/nav.html" %}

    {% if match_list %}
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for match in match_list %}
                        <a class="list-group-item list-group-item-action" href="{% url 'match-detail' slug=match.slug %}">
                            <b>{{ match }}</b>
                            at {{ match.datetime|date:"H:i" }}
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <p>No matches found.</p>
    {% endif %}
{% endblock content %}