{% extends "base.html" %}

{% block head_title %}{{ date|date:"Y-m-d" }} || {{ block.super }}{% endblock head_title %}

{% block content %}
    <h2>{{ date|date:"l, d F Y" }}</h2>

    {% include "snippets/nav.html" %}

    {% if match_list %}
        <ul class="list-group">
            {% for match in match_list %}
                <a class="list-group-item list-group-item-action" href="{% url 'match-detail' pk=match.id %}">
                    <b>{{ match }}</b>
                    at {{ match.datetime|date:"H:i" }}
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No matches found.</p>
    {% endif %}
{% endblock content %}