{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block content %}
    <div class="mobile">
        <h2 class="small-header mobile">Teams</h2>
    </div>
    <div class="desktop">
        <h2 class="small-header">Teams</h2>
    </div>

    {% if object_list %}
        <div class="row">
            <div class="col-12">
                <label for="select-match" class="select2-el-label">
                    <select id="select-match" class="select2-el">
                    </select>
                </label>
                <ul class="list-group small-margin-bottom">
                    {% for team in object_list %}
                        <a class="list-group-item list-group-item-action list-group-flex"
                           href="#">
                            <div class="list-match-result">
                                {% if team.logo_file %}
                                    <img src="{{ team.logo_file.url }}" alt="{{ team.name }}"
                                         class="img-fluid detail-img-thumb">
                                {% else %}
                                    <img src="{% static "img/badge_placeholder.png" %}"
                                         alt="{{ team.name }}"
                                         class="img-fluid detail-img-thumb">
                                {% endif %}&nbsp;
                                <b>{{ team.name }} </b>

                            </div>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include "snippets/page_nav.html" %}
    {% else %}
        <p>No teams found.</p>
    {% endif %}

{% endblock content %}
{% block customjs %}
    <script>
        $(document).ready(function () {
            $('#select-match').select2({
                ajax: {
                    url: '/api/teams/',
                    data: function (params) {
                        return {
                            date: new URLSearchParams(window.location.search).get('date') ?? null,
                            filter: params.term,
                            format: 'json'
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                },
                placeholder: 'Search for a team...',
                minimumInputLength: 1,
                templateResult: formatMatch
            }).focus(function () {
                $(".select2-search__field").focus();
            }).blur(function () {
                setTimeout(function () {
                    $(".select2-search__field").focus();
                }, 20);
            });
        });

        function formatMatch(team) {

            if (team.loading) {
                return team.text;
            }

            const $container = $(
                `<a class="list-group-item list-group-item-action list-group-flex"` +
                `   href="#">` +
                `    <div class="list-match-result">` +
                (team.logo_file ?
                        `                <img src="${team.logo_file}" alt="${team.name}"` +
                        `                        class="img-fluid detail-img-thumb">` :
                        `                <img src="{% static "img/badge_placeholder.png" %}"` +
                        `                        alt="${team.name}"` +
                        `                        class="img-fluid detail-img-thumb">`
                ) + `&nbsp;` +
                `    <b>${team.name}</b>` +
                `    </div>` +
                `</a>`);

            return $container;
        }

    </script>
{% endblock customjs %}