<nav aria-label="Date Navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="{% url 'history' %}?date={{ date_prev|date:"Y-m-d" }}">
                <span aria-hidden="true">&laquo;</span>
                {{ date_prev|date:"d b" }}
            </a>
        </li>
        <li class="page-item disabled">
            <div class='input-group date' id='datepicker'>
                <input type='hidden' class="form-control" id="datepickerinput"/>
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                            <a class="page-link" href="{% url 'history' %}?date={{ date|date:"Y-m-d" }}">
                                {{ date|date:"d b" }}
                            </a>
                        </span>
                </span>
            </div>
        </li>
        {% if date_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'history' %}?date={{ date_next|date:"Y-m-d" }}">
                    {{ date_next|date:"d b" }}
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>