{% load static %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'goals_zone/africa/apple-touch-icon.png' %}?v=BGm2LQ4N3q">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'goals_zone/africa/favicon-32x32.png' %}?v=BGm2LQ4N3q">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'goals_zone/africa/android-chrome-192x192.png' %}?v=BGm2LQ4N3q">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'goals_zone/africa/favicon-16x16.png' %}?v=BGm2LQ4N3q">
<link rel="manifest" href="{% static 'goals_zone/africa/site.webmanifest' %}?v=BGm2LQ4N3q">
<link rel="mask-icon" href="{% static 'goals_zone/africa/safari-pinned-tab.svg' %}?v=BGm2LQ4N3q" color="#ce1126">
<link rel="shortcut icon" href="{% static 'goals_zone/africa/favicon.ico' %}?v=BGm2LQ4N3q">
<meta name="apple-mobile-web-app-title" content="goals.africa">
<meta name="application-name" content="goals.africa">
<meta name="msapplication-TileColor" content="#ce1126">
<meta name="msapplication-TileImage" content="{% static 'goals_zone/africa/mstile-150x150.png' %}?v=BGm2LQ4N3q">
<meta name="theme-color" content="#ce1126">