aiohttp==3.7.4.post0
appnope==0.1.2
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
bleach==4.1.0
blis==0.7.4
catalogue==2.0.6
certifi==2021.5.30
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.5
click==7.1.2
coverage==5.5
cymem==2.0.5
Cython==0.29.24
debugpy==1.4.3
decorator==5.1.0
defusedxml==0.7.1
discord-webhook==0.14.0
distlib==0.3.2
dj-database-url==0.5.0
Django==3.2.7
django-admin-rangefilter==0.8.1
django-appconf==1.0.4
django-background-tasks==1.2.5
django-compat==1.0.15
django-heroku==0.3.1
djangorestframework==3.12.4
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
flake8==3.9.2
geoip2==4.2.0
gitdb==4.0.7
gitdb2==4.0.2
GitPython==3.1.18
gunicorn==20.1.0
hypothesis==6.21.4
identify==2.2.14
idna==3.2
idna-ssl==1.1.0
importlib-metadata==4.8.1
iniconfig==1.1.1
ipaddress==1.0.23
ipapi==1.0.4
ipykernel==6.4.1
ipython==7.27.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
jsonschema==3.2.0
jupyter-client==7.0.2
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
maxminddb==2.0.3
mccabe==0.6.1
mistune==0.8.4
ml-datasets==0.2.0
mock==4.0.3
multidict==5.1.0
murmurhash==1.0.5
mypy==0.910
mypy-extensions==0.4.3
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
nodeenv==1.6.0
numpy==1.21.2
oauthlib==3.1.1
packaging==21.0
pandocfilters==1.5.0
parso==0.8.2
pathy==0.6.0
pbr==5.6.0
pbs==0.110
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
platformdirs==2.3.0
pluggy==1.0.0
pre-commit==2.15.0
preshed==3.0.5
prompt-toolkit==3.0.20
psycopg2==2.9.1
psycopg2-binary==2.9.1
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
pydantic==1.8.2
pyflakes==2.3.1
Pygments==2.10.0
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks==1.7.1
pytest==6.2.5
pytest-cov==2.12.1
pytest-timeout==1.4.2
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.3.0
requests==2.26.0
requests-oauthlib==1.3.0
scandir==1.10.0
sh==1.14.2
six==1.16.0
slack-webhook==1.0.6
smart-open==5.2.1
smmap==4.0.0
smmap2==3.0.1
sortedcontainers==2.4.0
soupsieve==2.2.1
spacy==3.1.2
spacy-legacy==3.0.8
sqlparse==0.4.2
srsly==2.4.1
testpath==0.5.0
thinc==8.0.10
toml==0.10.2
tomli==1.2.1
tornado==6.1
tqdm==4.62.2
traitlets==5.1.0
tweepy==3.10.0
typer==0.3.2
types-mock==4.0.1
typing-extensions==3.10.0.2
urllib3==1.26.6
virtualenv==20.8.0
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.0
whitenoise==5.3.0
yarg==0.1.9
yarl==1.6.3
zipp==3.5.0
