{% load static %}
<!doctype html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Start cookieyes banner -->
    <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/090b097ba026adefd295feb1/script.js"></script>
    <!-- End cookieyes banner -->
    {% include "africa/snippets/favicon.html" %}

    <title>{% block head_title %}goals.africa{% endblock %}</title>
    <meta name="description" content="This is the place where you can watch videos of the latest goals of football matches."/>
    {% include "africa/snippets/css.html" %}

    {% if not debug %}
        {% include "africa/snippets/analytics.html" %}
    {% endif %}
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'goals_zone/africa/original_icon_w200.png' %}" width="40" class="d-inline-block align-top" alt=""/>
        &nbsp;goals.africa
    </a>
    <div class="form-inline">
        <a id="historyButton" class="btn btn-success small-btn small-margin-right" data-toggle="tooltip" title="History" href="{% url 'history' %}">
            <img src="{% static "img/calendar-solid.svg" %}" alt="calendar" height="15" />
        </a>
        <a id="teamsButton" class="btn btn-success small-btn small-margin-right" data-toggle="tooltip" title="Teams" href="{% url 'teams-list' %}">
            <img src="{% static "img/shield-solid.svg" %}" alt="calendar" height="15" />
        </a>
        <button id="moreButton" class="btn btn-success small-btn" data-toggle="modal" data-target="#aboutModal" title="Info">
            <img src="{% static "img/info-solid.svg" %}" alt="calendar" height="15" />
        </button>
    </div>
</nav>
<div class="container-fluid">
    <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content bottom-margin">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% include "snippets/js.html" %}
        {% block customjs %}
        {% endblock customjs %}
    </div>
</div>
{% include "africa/snippets/modal.html" %}


<div class="desktop affiliated floating-button">
    Affiliated with <a href="https://goals.zone"><img src="https://goals.zone/static/goals_zone/original_icon_w200.png" width="25"/>
    goals.zone</a>
</div>
<!-- VerticeAds Pushdown -->
<script data-cfasync="false" type="text/javascript" id="clever-core">
    (function (document, window) {
        var a, c = document.createElement("script");

        c.id = "CleverCoreLoader57318";
        c.src = "//scripts.cleverwebserver.com/82048394a4fec8b2f82cb19fad17d292.js";

        c.async = !0;
        c.type = "text/javascript";
        c.setAttribute("data-target", window.name);
        c.setAttribute("data-callback", "put-your-callback-macro-here");

        try {
            a = parent.document.getElementsByTagName("script")[0] || document.getElementsByTagName("script")[0];
        } catch (e) {
            a = !1;
        }

        a || (a = document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]);
        a.parentNode.insertBefore(c, a);
    })(document, window);
</script>
<!-- VerticeAds Pushdown END -->
</body>
</html>