{% load static %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'videogoals/apple-touch-icon.png' %}?v=BGm2LQ4N3q">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'videogoals/favicon-32x32.png' %}?v=BGm2LQ4N3q">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'videogoals/android-chrome-192x192.png' %}?v=BGm2LQ4N3q">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'videogoals/favicon-16x16.png' %}?v=BGm2LQ4N3q">
<link rel="manifest" href="{% static 'videogoals/site.webmanifest' %}?v=BGm2LQ4N3q">
<link rel="mask-icon" href="{% static 'videogoals/safari-pinned-tab.svg' %}?v=BGm2LQ4N3q" color="#00bc8c">
<link rel="shortcut icon" href="{% static 'videogoals/favicon.ico' %}?v=BGm2LQ4N3q">
<meta name="apple-mobile-web-app-title" content="goals.zone">
<meta name="application-name" content="goals.zone">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="{% static 'videogoals/mstile-144x144.png' %}?v=BGm2LQ4N3q">
<meta name="theme-color" content="#00bc8c">