{% load static %}
<!--suppress HtmlDeprecatedAttribute -->
<footer class="footer">
    <div class="ad-footer-div">
        <!--
{#        <iframe id="footer_ad_iframe"#}
{#                class="footer-iframe"#}
{#                sandbox="allow-top-navigation-by-user-activation allow-scripts allow-same-origin allow-popups"#}
{#                src="{% static 'html/footer_ad.html' %}">#}
{#        </iframe>#}
        -->
        <!-- Kryptoads Ad Network / Banners / 320x50 / Mobile Banner -->
        <ins class="aso-zone" data-zone="49826"></ins>
        <script data-cfasync="false" async="async" type="text/javascript"
                src="https://media.aso1.net/js/code.min.js"></script>
        <!-- /Kryptoads Ad Network -->
    </div>
</footer>
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">More</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    About
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    goals.zone automatically fetches latest posts from <a
                                        href="https://www.reddit.com/r/soccer">/r/soccer</a>
                                    subreddit that contain videos of goals and that correspond to a football match.
                                </p>
                                <p>
                                    This is an Open Source project, and the code is available on <a
                                        href="https://github.com/meneses-pt/goals.zone">GitHub</a>
                                </p>
                                <p>
                                    You can reach me at <a href="mailto:andre@meneses.pt">andre@meneses.pt</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                    Disclaimer
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    This website is not responsible for, and does not own any of the content of the
                                    links that are here
                                    published.
                                </p>
                                <p>
                                    goals.zone was built with an academic purpose and with no intention of profiting
                                    over it.
                                </p>
                                <p>
                                    This is an open source project and the donate button exists with the sole purpose of
                                    helping the
                                    owner with the server and maintenance costs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Donate
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordion">
                            <div class="card-body">
                                <p>
                                    I wish I could run this site without ads... but no one has donated so far.
                                </p>
                                <p>
                                    If I can get a certain amount of donations every month to keep the site running,
                                    I would get rid of the ads.
                                </p>
                                <p>
                                    If you want to get rid of the ads, please donate.
                                </p>
                                <p>
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_donations"/>
                                    <input type="hidden" name="business" value="BUUD7DZH6FZWS"/>
                                    <input type="hidden" name="item_name" value="Maintain goals.zone"/>
                                    <input type="hidden" name="currency_code" value="EUR"/>
                                    <input type="image"
                                           src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0"
                                           name="submit" title="PayPal - The safer, easier way to pay online!"
                                           alt="Donate with PayPal button"/>
                                </form>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>