{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% if not debug %}
        {% include "snippets/analytics.html" %}
    {% endif %}
    {% include "snippets/favicon.html" %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block head_title %}goals.zone{% endblock %}</title>
    {% include "snippets/css.html" %}
    <script data-ad-client="ca-pub-8520909641604027" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'videogoals/original_icon_w200.png' %}" width="40" class="d-inline-block align-top" alt="">
        &nbsp;goals.zone
    </a>
</nav>
<div class="container-fluid">
    <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content bottom-margin">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% include "snippets/js.html" %}
    </div>
</div>
{% include "snippets/footer.html" %}
</body>
</html>