{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% if not debug %}
        {% include "snippets/analytics.html" %}
    {% endif %}
    {% include "snippets/favicon.html" %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block head_title %}goals.zone{% endblock %}</title>
    <meta name="description"
          content="This is the place where you can watch videos of the latest goals of football matches."/>
    {% include "snippets/css.html" %}
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'goals_zone/original_icon_w200.png' %}" width="40" class="d-inline-block align-top" alt="">
        &nbsp;goals.zone
    </a>
    <div class="form-inline">
        <button id="moreButton" class="btn btn-outline-success" data-toggle="modal" data-target="#aboutModal">More
        </button>
    </div>
</nav>
<div class="container-fluid">
    <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content bottom-margin">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% include "snippets/js.html" %}
    </div>
</div>
<div class="right-ad desktop">
{#    <script type="text/javascript" src="//uprimp.com/bnr.php?section=Right&pub=267389&format=160x600&ga=g"></script>#}
{#    <noscript><a href="https://yllix.com/publishers/267389" target="_blank"><img#}
{#            src="//ylx-aff.advertica-cdn.com/pub/160x600.png"#}
{#            style="border:none;margin:0;padding:0;vertical-align:baseline;"#}
{#            alt="ylliX - Online Advertising Network"/></a></noscript>#}
</div>
{% include "snippets/footer.html" %}
</body>
</html>