{% load static %}
<!doctype html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if not debug %}
        {% include "snippets/analytics.html" %}
    {% endif %}
    {% include "snippets/favicon.html" %}

    <!-- AdSense -->
    <script async
            type="text/plain"
            data-cookie-if="marketing"
            data-ad-client="ca-pub-8520909641604027"
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <title>{% block head_title %}goals.zone{% endblock %}</title>
    <meta name="description"
          content="This is the place where you can watch videos of the latest goals of football matches."/>
    {% include "snippets/css.html" %}
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'goals_zone/original_icon_w200.png' %}" width="40" class="d-inline-block align-top" alt="">
        &nbsp;goals.zone
    </a>
    <div class="form-inline">
        <a id="teamsButton" class="btn btn-outline-success small-margin-right" href="{% url 'teams-list' %}">Teams</a>
        <button id="moreButton" class="btn btn-outline-success" data-toggle="modal" data-target="#aboutModal">More
        </button>
    </div>
</nav>
<div class="container-fluid">
    <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content bottom-margin">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% include "snippets/js.html" %}
        {% block customjs %}
        {% endblock customjs %}
    </div>
</div>
{% include "snippets/footer.html" %}

<!-- Cookie Consent by https://eucookie.eu -->
<script src="//www.eucookie.eu/public/gdpr-cookie-consent.js" type="text/javascript"></script>
<script type="text/javascript">
    var cookieConsent = new cookieConsent({
        clientId: '3e43c7ad-93a4-45b2-bf7b-1de317a67da0', // Your Client ID
        backgroundColor: '#303030',
        fontFamily: 'Lato',
        fontSize: '',
        fontColor: '#fff',
        position: 'bottomLeft', // bottomLeft, bottomRight, topLeft, topRight
        linkColor: '#00bc8c',
        buttonBackground: '#00bc8c',
        buttonTextColor: '#fff',
        border: '',
        language: 'en', // en, de, sk, cz, or any language code you setup in My Texts
        precheck: true // automatically pre-check or not pre-check consent checkboxes
    });
    cookieConsent.run();
</script>

</body>
</html>