{% extends "admin/change_list.html" %}
{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const ctx = document.getElementById('myChart').getContext('2d');

            // Sample data
            const chartData = {{ chart_data | safe }};

            const options = {
                responsive: true,
                tooltips: {
                    enabled: true
                },
                plugins: {
                    datalabels: {
                        formatter: (value, ctx) => {
                            let sum = 0;
                            let dataArr = ctx.chart.data.datasets[0].data;
                            dataArr.map(data => {
                                sum += data;
                            });
                            return (value * 100 / sum).toFixed(2) + "%";
                        },
                        color: '#fff',
                    }
                }
            };

            // Render the chart
            const chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    datasets: [
                        {
                            data: Object.values(chartData),
                            backgroundColor: ['#a6cee3', '#1f78b4', '#b2df8a', '#33a02c', '#fb9a99', '#e31a1c', '#fdbf6f', '#ff7f00'],
                        },
                    ],
                    labels: Object.keys(chartData)
                },
                options: options,
            });
        });
    </script>
{% endblock %}


{% block content %}

    <!-- Render our chart -->
    <div style="width: 80%;">
        <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="myChart"></canvas>
    </div>

    <!-- Render the rest of the ChangeList view by calling block.super -->
    {{ block.super }}
{% endblock %}